[package]
name = "era-compiler-llvm-context"
version = "1.5.0"
authors = [
    "Oleksandr Zarudnyi <a.zarudnyy@matterlabs.dev>",
]
license = "MIT OR Apache-2.0"
edition = "2021"
description = "Shared front-end code of the ZKsync compilers"

[lib]
doctest = false

[dependencies]
anyhow = "1.0"
semver = "1.0"
serde = { version = "1.0", "features" = [ "derive" ] }
num = "0.4"
itertools = "0.13"

zkevm_opcode_defs = { git = "https://github.com/matter-labs/era-zkevm_opcode_defs", branch = "v1.5.0" }

era-compiler-common = { git = "https://github.com/matter-labs/era-compiler-common", branch = "main" }

[dependencies.inkwell]
git = "https://github.com/matter-labs-forks/inkwell"
branch = "az-cpr-1664-support-linking-deploy-and-runtime-code"
default-features = false
features = ["llvm17-0", "no-libffi-linking", "target-eravm", "target-evm"]
